# Paquetes esenciales de Django
Django==5.1.6
asgiref==3.8.1
sqlparse==0.5.3
python-dotenv==1.0.1  # Para variables de entorno

# Base de datos (PostgreSQL para Railway)
psycopg2-binary==2.9.9  # Añade esta línea si usas PostgreSQL

# Servidor para producción
gunicorn==23.0.0



# Dependencias de tu proyecto
requests==2.32.3
pandas==2.2.3
yfinance==0.2.54
numpy==2.2.3  # Requerido por pandas
whitenoise==6.9.0
