{% load static %}
<footer class="finance-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-3">
                <h4 class="fs-5">Contáctame</h4>
                <div class="social-links">
                    <a href="https://github.com/Zay-M3" target="_blank" class="social-link">
                        <i class="fa-brands fa-github"></i>
                        <span>GitHub</span>
                    </a>
                    <a href="https://www.linkedin.com/in/oscar-david-estrada-betancourt-491732331/" target="_blank" class="social-link">
                        <i class="fa-brands fa-linkedin"></i>
                        <span>LinkedIn</span>
                    </a>
                    <a href="mailto:oscardavidestradabetancourth@gmail.com" target="_blank" class="social-link">
                        <i class="fa-solid fa-envelope"></i>
                        <span>Email</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-1">FFinance desarrollado por David</p>
                <p class="copyright">Copyright &copy; 2025 Zay-M3</p>
            </div>
        </div>
    </div>
</footer>