<footer class="card text-center">
    <div class="card-footer text-body-secondary">
        <h4 style="font-size: 15px;">Contact me</h4>
        <div class="d-flex justify-content-center aling-items-center">
            <div style="display: flex; flex-direction: column;" >
                <a id="github" href="https://github.com/Zay-M3" target="_blank" style="outline: none; text-decoration: none !important; color: inherit;"><i class="fa-brands fa-github"></i></a>
                <label onclick="window.open('https://github.com/Zay-M3', '_blank')" style="font-size: 11px; opacity: 70%;"  for="github">GitHub</label>
            </div >  
            <div style="padding-left: 10px; padding-right: 10px; display: flex; flex-direction: column;"">
                <a id="linkedin" target="_blank" style="outline: none; text-decoration: none !important; color: inherit;" href="https://www.linkedin.com/in/oscar-david-estrada-betancourt-491732331/"><i class="fa-brands fa-linkedin"></i></a>
                <label onclick="window.open('https://www.linkedin.com/in/oscar-david-estrada-betancourt-491732331/', '_blank')" style="font-size: 11px; opacity: 70%;" for="linkedin">Linkedin</label>
            </div>
            <div style="display: flex; flex-direction: column;">
                <a id="gmail" target="_blank" style="outline: none; text-decoration: none !important; color: inherit;" href="mailto:oscardavidestradabetancourth@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                <label onclick="window.open('mailto:oscardavidestradabetancourth@gmail.com', '_blank')" style="font-size: 11px; opacity: 70%;" for="gmail">Gmail</label>
            </div>
        </div>
        <h4 style="font-size: 13px;" class="card-title">FFinance web made by David</h4>
        <h6 style="font-size: 8px; opacity: 70%;" class="card-subtitle">Copyright (c) 2025 Zay-M3</h6>
      </div>
</footer>  